@import "tailwindcss";
@keyframes animloader {
  0% {
    transform: translateY(8px) scaleY(1) scaleX(1.25);
  }
  25%,
  75% {
    transform: translateY(-5px) scaleY(1.2) scaleX(1);
  }
  50% {
    transform: translateY(-10px) scaleY(1) scaleX(1);
  }
  100% {
    transform: translateY(8px) scaleY(0.8) scaleX(0.8);
  }
}
.loader {
  @apply relative inline-block mt-5 font-[Arial,Helvetica,sans-serif] text-[48px] tracking-[4px] box-border before:content-[''] before:box-border before:absolute before:right-[70px] before:bottom-[10px] before:h-[24px] before:w-[5.15px] before:bg-current after:content-[''] after:w-[8px] after:h-[8px] after:absolute after:left-[125px] after:top-[2px] after:rounded-[50%] after:bg-[red] after:box-border after:animate-[animloader_1s_ease-in_infinite];
}

.center {
  @apply flex items-center justify-center;
}

.text-hover {
  @apply hover:text-indigo-500 transition-all ease-in-out duration-300;
}

button,
.links {
  @apply bg-[#8884ff] hover:bg-indigo-600 ease-in-out transition-all p-2 rounded-md;
}
